---
layout: page
title: blog
---



<span style="font-weight:bold;">Article</span>
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
	        {% include blog-post.html %}
	    {% endfor %}

		{% if site.paginate %}
			{% include pagination.html%}
		{% endif %}
	{% else %}
		{% for post in site.posts %}
			{% include blog-post.html %}
		{% endfor %}
	{% endif %}
</section>


<span style="font-weight:bold;">Category</span>
{% assign pages_list = site.pages %}
{% for node in pages_list %}
  {% if node.title != null %}
	{% if node.layout == "category" %}
	  <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
	  href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
	{% endif %}
  {% endif %}
{% endfor %}
